# =========================================================
# PYTHON CACHE
# =========================================================
__pycache__/
*.py[cod]
*$py.class

# =========================================================
# BUILD FILES
# =========================================================
build/
dist/
*.spec

# =========================================================
# PYINSTALLER / AUTO PY TO EXE
# =========================================================
*.manifest
*.pkg
*.exe.bak

# =========================================================
# LOGS
# =========================================================
*.log
crash.log
reportlogs/

# =========================================================
# OUTPUT FILES
# =========================================================
output.txt
expanded_ips.txt
expanded_ips_*.txt

# =========================================================
# IDE FILES
# =========================================================
.vscode/
.idea/

# =========================================================
# OS FILES
# =========================================================
Thumbs.db
Desktop.ini
.DS_Store

# =========================================================
# ENVIRONMENT FILES
# =========================================================
.env
venv/
.venv/

# =========================================================
# TEMP FILES
# =========================================================
*.tmp
*.temp

# =========================================================
# QT CACHE
# =========================================================
.qt_for_python/

# =========================================================
# RUNTIME GENERATED FILES
# =========================================================
*.pid
*.seed

# =========================================================
# LARGE GENERATED DATABASES
# =========================================================
*.sqlite
*.db

# =========================================================
# AUDIO CACHE
# =========================================================
*.wav.bak
